<%- include('../../libs/html/util-pc/header', {
title: 'demo',
description: 'demo',
keywords: 'demo',
plugin: ['http://common.8864.com/web/plugins/swiper/swiper.min.css'],
private: ['../css/index.css']
}) %>
<%- include('index/banner') %>

<p id="demop"> this is index demo font-size</p>
<img src="../img/demo.jpg" alt="">
<a id="imgPopBtn"
   data-src="http://img.zcool.cn/community/014a7459f29538a801202b0c0a0c55.jpg@1280w_1l_2o_100sh.jpg">图片弹出</a>

<div class="news-list" id="newsList"></div>


<%- include('../../libs/html/util-pc/footer', {
plugin: ['https://common.8864.com/web/plugins/swiper/swiper.jquery.min.js'],
private: ['../js/index.js', '../js/api.js'],
statistics: ''
}) %>