<%- include('../../libs/html/util-m/header', {
title: 'demo',
description: 'demo',
keywords: 'demo',
plugin: ['http://common.8864.com/web/plugins/swiper/swiper.min.css'],
private: ['../css/list.css']
}) %>

<p style="font-size: 200px"> this is list demo </p>
<img src="../img/demo.jpg" alt="">
<a id="imgPopBtn"
   data-src="http://img.zcool.cn/community/014a7459f29538a801202b0c0a0c55.jpg@1280w_1l_2o_100sh.jpg">图片弹出</a>
<a id="imgPopBtnTwo"
   data-src="http://img.zcool.cn/community/01da9059f1adc7a801202b0c449159.gif">图片弹出</a>

<%- include('../../libs/html/util-m/footer', {
plugin: ['https://common.8864.com/web/plugins/swiper/swiper.jquery.min.js'],
private: ['../js/list.js', '../js/jquery.lk.js'],
statistics: ''
}) %>