/**
 * Author：tantingting
 * Time：2019/2/21
 * Description：Description
 */
.warp {
    font-size: 32px;

    .contenr {
        background: url("../img/page2.png");
        width: 300px;
        height: 400px;
        color: blue;
        box-shadow: 2px 2px 10px #000;
    }
}
